@require "../../assets/css/config.styl"
@import "~kouto-swiss/index.styl"

gs( "fluid" )
.color-palette
  // margin-bottom: rem($gamma)
  clearfix()
  .color-palette_group
    margin-bottom: rem($epsilon)
    clearfix()
  .section &
    h3
      padding: $beta $gamma
  &__color
    clearfix()
    position: relative
    padding-top: 10em
    margin-bottom: 1em
    font-size: 12px
    color: white
    margin-bottom: 1em
    +media-query( all, min-width $M )
      col( 3 )
    +media-query( all, min-width $L )
      col( 2 )

    dl
      overflow: hidden
      background: rgba(black,.5)
      margin: 0
      padding: 1em 0
    dt
      color: #fff
      float: left
      font-weight: bold
      margin-right: $gamma
      padding: $alpha $beta
      width: 6em
      display: none
    dd
      padding: $alpha $beta
      text-align: center
