// @require "../config"

//
// =Buttons
//
// -----------------------------------------------------------------------------
.btnActivePrimary
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5) inset
.btnActiveSecondary
  box-shadow: 0 1px 3px rgba(0, 0, 0, .7) inset

.btn
  display: inline-block
  vertical-align: middle
  font-size: rem($baseFontSize)
  font-weight: 400
  line-height: rem(20)
  text-align: center
  text-decoration: none
  margin: 0
  border: none
  box-shadow: none
  cursor: pointer
  padding: $beta $delta
  height: rem(36)
  color: white
  background-color: $colorPrimary
  outline: 0
  &:hover
    color: white
    background-color: $colorPrimaryDark
  // &:focus
  //   color: white
  // &:active
  //   @extend .btnActivePrimary


input[type="submit"].btn
  -webkit-appearance: none

.btn.btn-small,
.btn-small
  font-size: rem($baseFontSize - 1)
  padding: $alpha  $gamma

.btn-outline
  background: transparent
  color: $colorPrimary
  border: 1px solid $colorPrimary
  padding: $beta $epsilon
  &:hover
    color: white
    background: $colorPrimaryDark
  &.btn-small
    padding: $alpha  $gamma

.btn-blue,
.btn-red,
.btn-green,
.btn-yellow
  color: white

.btn-white
  background: white
  color: $colorPrimary
  &:hover
    color: white
    background: $colorPrimary

.btn-blue
  background: $colorSecondaryBlue
  &:hover
    background-color: $colorSecondaryBlue
.btn-red
  background: $colorSecondaryRed
  &:hover
    background-color: $colorSecondaryRed
.btn-green
  background: $colorSecondaryGreen
  &:hover
    background-color: $colorSecondaryGreen
.btn-yellow
  background: $colorSecondaryYellow
  &:hover
    background-color: $colorSecondaryYellow


.btn[disabled],
.btn-disabled
  opacity: .4


.btn-active
  @extend .btnActivePrimary

.btn[disabled],
.btn-disabled
  cursor: default
  box-shadow: none

.btn-white.btn-active,
.btn-white.btn-disabled,
.btn-white[disabled]
  opacity: .4


.btn
  position: relative
  overflow: hidden
  cursor: pointer
  text-align: center
  // &.-sample-1
  //   line-height: 36px
  //   width: 78px
  //   height: 36px
  //   background: $colorPrimary
  //   color: #fff
  //   &:hover
  //     background: $colorPrimaryDark
  // &.-sample-2
  //   line-height: 36px
  //   height: 36px
  //   border: 1px solid $colorPrimary
  //   color: $colorPrimary
  //   &:hover
  //     background: $colorPrimary
  //     color: white

.ripple
  display: block
  position: absolute
  background: rgba(white,.5)
  border-radius: 100%
  transform: scale(0)
/*animation effect*/
.ripple.animate
  animation: ripple .5s linear

@keyframes ripple
  100%
    opacity: 0
    transform: scale(2.5)
