// @require "../config"
.color--primary-light
  background: $colorPrimaryLight

.color--primary
  background: $colorPrimary

.color--primary-dark
  background: $colorPrimaryDark

.color--secondary-red
  background: $colorSecondaryRed

.color--secondary-orange
  background: $colorSecondaryOrange

.color--secondary-blue
  background: $colorSecondaryBlue

.color--secondary-green
  background: $colorSecondaryGreen

.color--secondary-yellow
  background: $colorSecondaryYellow

.color--gray-lightest
  background: $colorGrayLightest

.color--gray-lighter
  background: $colorGrayLighter

.color--gray-light
  background: $colorGrayLight

.color--gray
  background: $colorGray

.color--gray-dark
  background: $colorGrayDark

.color--gray-darker
  background: $colorGrayDarker



// .color--gray-darker
//   background: lightColor
//
// .color--gray-darker
//   background: lightColor
