// toDo
  // @import "variables"
  // @import "mixins"

  // @import "reset"
  // @import "typo"
  // @import "code"
  // @import "tables"
  // @import "lists"
  // @import "forms"
  // @import "colors"
  // @import "labels"
  // @import "buttons"
  // @import "helpers"
  // @import "images"
  // @import "navs"
  // @import "messages"

  // @import "grid"
  // @import "blocks"

@import "~kouto-swiss/index"
@require "config"
@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'
/*normalize*/
normalize()
@require "partials/basic"
@require "basic/typography"
@require "components/colorPalette"
@require "components/form"
@require "components/grid"
@require "components/button"
@require "utils/helper"

box-sizing-reset()
$fullSize
  width: 100%
  min-height: 100%
  height: 100%

// SiteSetting
$naviBar = 56px
$navSetting = 170px
$navigation = $naviBar + $navSetting
$navigationZ = 222
$page = 111
//
$siteTransition = all .3s cubic-bezier(.23, 1, .32, 1)
// if layout-fixed' : .layout-isfixed
// if layout-slide' : .layout-isslide
// if layout-boxed' : .layout-isboxed
body, #main.body
  background: $owlBg
  overflow-x: hidden
  clearfix()

.style-guide
  margin: 0 auto

#app, ._app-container
  position: relative
  @extend $fullSize
  transition: $siteTransition
  overflow-x: hidden
  .layout-fixed &
    margin-left: $naviBar
  .layout-slide &
    margin-left: $navigation
  .layout-boxed &
    margin-left: 0
  > ._navigation
    position: absolute
    top: 0
    left: 0
    bottom: 0
    z-index: $navigationZ
    .layout-fixed &
      position: fixed
    .layout-slide &
      position: fixed
    .layout-boxed &
      display: none
    .-nav-bar
      height: 100%
      width $naviBar
    ._nav-setting
      position: absolute
      width: $navSetting
      height: 100%
      left: ($navSetting - $naviBar) * -1
      bottom: 0
      .layout-slide &
        position: fixed
        transform-style: preserve-3d
        transform: translate3d(($navSetting),0,0)
        transition: transform .3s ease

  > #page, ._page
    position: relative
    height: 100%
    margin-left: 0
    overflow: hidden
    z-index: $page
  .wall
    padding: 25px 35px
    background: #fff
    border: 1px solid rgba(0,0,0,0.15);

//Example
$bd
  border 1px solid rgba(255, 0, 0, 0.5)
.body
  background-color: rgba(255, 0, 0, 0.5)
  @extend $bd
._app-container
  background-color: rgba(255, 200, 0, 0.5)
  @extend $bd
  > ._navigation
    background-color: rgba(255, 0, 200, 0.5)
    @extend $bd
  > ._page
    background-color: rgba(200, 255, 200, 0.5)
    @extend $bd
    height: 99999px
  .-nav-bar
    background-color: rgba(105, 200, 200, 0.5)
    @extend $bd
  ._nav-setting
    background-color: rgba(255, 125, 50, 0.5)
    @extend $bd
