// KS reset
ks-rem-base = 16px

// Layouts
$S = 768px
$M = 1024px
$L = 1600px
// Colors

// gray
// grayscale
$colorBasegray = #8d8d8d

$colorGrayLightest = #F2F6F7 // rgb(242, 246, 247)
$colorGrayLighter  = #DFE4E6 // rgb(223, 228, 230)
$colorGrayLight    = #B8BDBF // rgb(184, 189, 191)
$colorGray         = #919799 // rgb(145, 151, 153)
$colorGrayDark     = #6C7173 // rgb(108, 113, 115)
$colorGrayDarker   = #3B3F40 // rgb(59, 63, 64)

// Primary Color
//- purple
$colorPrimaryLight       = #CAB6F2 //rgb(202, 182, 242)
$colorPrimary            = #8962D9 //rgb(137, 98, 217)
$colorPrimaryDark        = #6B5499 //rgb(107, 84, 153)

//- secondary Color
$colorSecondaryRed       = #E6175C
$colorSecondaryOrange    = #F27F0C
$colorSecondaryYellow    = #FFD919
$colorSecondaryBlue      = hsl(210, 81.8, 46.8)
// $colorSecondaryBlueLight = hsl(210, 87.7, 59.4)
// $colorSecondaryBlueDark  = hsl(210, 90.5, 36.8)
$colorSecondaryGreen     = #B9E617

$alpha   = 4px
$beta    = 8px
$gamma   = 12px
$delta   = 16px
$epsilon = 20px
$zeta    = 24px
$eta     = 28px
$theta   = 32px
$iota    = 36px
$kappa   = 40px

// Setting

//- Font
$baseFontFamily = 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif
$headingsFontFamily = $baseFontFamily
$controlsFontFamily = $baseFontFamily
$owlBg = #E6EBF0
$owlColor = $colorGrayDarker
$colorLinkHover = $colorPrimary
$colorLink = $colorPrimaryDark

//- Type
$baseFontSize = 14
$smallFontSize = 10
$baseLineHeight = 1.5
$baseLine = $baseFontSize * $baseLineHeight
$baseLineInEms = $baseLine / $baseFontSize
$buttonsSmallFontSize = $baseFontSize - 3px // 11px

// Heading
$h1FontSize = $baseFontSize + 22px // 36px
$h2FontSize = $baseFontSize + 16px // 30px
$h3FontSize = $baseFontSize + 10px // 24px
$h4FontSize = $baseFontSize + 4px // 18px
$h5FontSize = $baseFontSize + 0px // 14px
$h6FontSize = $baseFontSize - 2px // 12px

// Util
$em = $baseFontSize  // outputting ems, e.g. 14/@em

// Forms
$fieldsBottom = 14
