@require "../config"

// =Typography
// -----------------------------------------------------------------------------
body
  background: $owlBg
  color: $owlColor
  font-size: $baseFontSize + 0px
  font-family: $baseFontFamily
  line-height: rem(20)

a
  color: $colorLink
  &:focus,
  &:hover
    color: $colorLinkHover
.title,
h1,
h2,
h3,
h4,
h5,
h6
  font-family: $headingsFontFamily
  font-weight: bold
  text-rendering: optimizeLegibility

h1
  font-size: $h1FontSize
  line-height: 1.111em
  margin-bottom: .25em

h2
  font-size: $h2FontSize
  line-height: 1.111em
  margin-bottom: .5em

h3
  font-size: $h3FontSize
  line-height: 1.333em
  margin-bottom: .5em

h4
  font-size: $h4FontSize
  line-height: 1.5em
  margin-bottom: .333em

h5
  font-size: $h5FontSize
  margin-bottom: .25em

h6
  font-size: $h6FontSize
  text-transform: uppercase
  margin-bottom: .25em


// =Subheading
// -----------------------------------------------------------------------------
hgroup h1:first-child,
hgroup h2:first-child,
hgroup h3:first-child,
hgroup h4:first-child,
hgroup h5:first-child,
  margin-bottom: 0

h1.subheading,
h2.subheading,
h3.subheading,
h4.subheading,
h5.subheading
  font-weight: 300

h1.subheading
  font-size: $h1SubheadingFontSize

h2.subheading
  font-size: $h2SubheadingFontSize

h3.subheading
  font-size: $h3SubheadingFontSize

h4.subheading
  font-size: $h4SubheadingFontSize

h5.subheading
  font-size: $h5SubheadingFontSize

p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th
  line-height: rem(20)
p,
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul
  margin: 0
  margin-bottom: rem(20)

button:active,
button:focus
  outline: none

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="search"],
input[type="datetime-local"],
textarea,
select[multiple="multiple"]
  line-height: rem(20)
  border-radius: 0
  background: #fff
  box-shadow: none
  border: 1px solid $colorGrayLighter
  outline: none
  padding: $alpha $beta
  position: relative
  z-index: 2
  -webkit-appearance: none

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="search"],
input[type="datetime-local"]
  height: rem(36)

input[type="range"]
  position: relative
  top: 3px

input[type="radio"],
input[type="checkbox"]
  font-size: 120%

select[multiple="multiple"],
textarea
  line-height: 1.35em

fieldset
  padding: rem(20)
  margin-bottom: rem(20)
  border: 1px solid #dbdada

legend
  font-weight: bold
  padding: 0 1em
  margin-left: -1em

