// =Helpers
// -----------------------------------------------------------------------------
.group
  clearfix()

.small
  font-size: rem($smallFontSize)

.nowrap,
.nowrap td
  white-space: nowrap

.req,
.required
  font-weight: normal
  color: $colorSecondaryRed

.color-gray
  color: #777

.color-gray-light
  color: #999

.color-black
  color: #000

.color-red,
.error
  color: $colorSecondaryRed

.color-green,
.success
  color: $colorSecondaryGreen

.text-centered
  text-align: center

.text-right
  text-align: right

.last
  margin-right: 0 !important

.pause
  margin-bottom: ($baseLineHeight/2) + 0em !important

.end
  margin-bottom: 0 !important

.normal
  font-weight: normal

.bold
  font-weight: bold

.italic
  font-style: italic

.left
  float: left

.right
  float: right

